* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
h2 {
    text-align: right;
    border: black 1px solid;
}
.container { 
    width: 90%;
    height: auto;
    border: black 1px solid;
    margin: 5px;
}

/* large size */
@media (min-width: 992px) {

}
